<!-- IMG -->

<div class="general">

    <div id="img-container">
        <img class="imagen" src="../../../../assets/code.webp" alt="">
        <div class="oscuro">
        
        </div>
        <div class="texto-superpuesto">
            <h1>Desarrollador web <span>Fullstack</span></h1>
            <p>Desarrollador Angular, NestJS, ASP NET, SQL server, MongoDB</p>
            <p-button class="mt-4" label="contacto" severity="info"
            (onClick)="redirectContact()"
            >
    
            </p-button>
        </div>
    </div>
    
    <!-- Information -->
    
    <shared-general-information-page />
    <!--  preview projectos -->
   
    <div id="previewProjects" class="grid">
        <div *ngFor="let project of projects.slice(0,3); let i = index"
        class="col-12 sm:col-5 md:col-4 xl:col-3 mt-2"
        >
        <shared-project-card [indice]="project" [project]="project"></shared-project-card>
    </div>
    </div>

</div>
