.tags-container{
    margin: 4px;
}
.tags-container p-tag{
    margin: 4px;
    margin-bottom: 4px;
}


.btns-card{
    margin-top: 25px;
   
}

.btns-card p-button{
    margin-right: 15px;
}

.text-base{

}